* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.header-contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    background-color: whitesmoke;
    padding: 15px;
}

.div-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.div-contact div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 10px;
}

.div-contact a {
    text-decoration: none;
    margin-left: 20px;
    color: orange;
    font-size: 15px;
}

.div-contact i {
    color: white;
    font-size: 15px;
}

/*************************************************************************Div-Customer********************************************************************/
.div-customer-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.div-customer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 40px;
}

.div-customer i {
    color: black;
}

.div-customer a {
    text-decoration: none;
    color: black;
    display: flex;
}

.div-customer h4 {
    font-weight: normal;
}

.div-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 40px;
}

.div-user i {
    color: black;
}

.div-user a {
    text-decoration: none;
    color: black;
    display: flex;
}

.div-user h4 {
    font-weight: normal;
}


/*************************************************************************Div-Social Network********************************************************************/
.div-social-network {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.div-facebook {
    margin-right: 20px;
}

.div-facebook a {
    text-decoration: none;
    color: black;
}

.div-facebook i {
    color: black;
    font-size: 25px;
}

.div-linkedin {
    margin-right: 20px;
}

.div-linkedin a {
    text-decoration: none;
    color: black;
}

.div-linkedin i {
    color: black;
    font-size: 25px;
}

/*************************************************************************HEAD-MENU******************************************************************/
.head-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.div-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.div-logo img {
    width: 250px;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#menu li {
    float: left;
    margin: auto;
    padding: 0;
    /*background-color: black;*/
}

#menu li a {
    display: block;
    width: 100px;
    color: rgb(11, 11, 160);
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}

/*#menu li a:hover {
    color: #FFD700;
}*/

#menu ul li ul {
    display: none;
}

/*#menu ul li ul li {}*/

#menu ul li ul li a {
    /*font-size: 14px;*/
    color: rgb(11, 11, 160);
}

#menu ul li:hover ul {
    display: block;
}

#menu li:hover ul li {
    float: none;
}

#menu li ul {
    position: absolute;
}

#menu {
    height: 50px;
}

/************************************************************************************div-users-login*********************************************************/
.div-users-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.div-open-account {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(32, 28, 28);
    border-radius: 5px;
    margin-right: 20px;
}

.div-open-account a {
    text-decoration: none;
    display: flex;
    padding: 10px;
    color: white;

}

.div-open-account i {
    margin-right: 10px;
}


.div-track-package {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(11, 11, 160);
    border-radius: 5px;
    margin-right: 20px;

}

.div-track-package a {
    text-decoration: none;
    display: flex;
    padding: 10px;
    color: white;

}

.div-track-package i {
    margin-right: 10px;
}

.div-request {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: orange;
    border-radius: 5px;

}

.div-request a {
    text-decoration: none;
    display: flex;
    padding: 10px;
    color: white;

}

.div-request i {
    margin-right: 10px;
}

/******************************************************************************MAIN*************************************************************************/
.main-background {
    width: 100%;
    height: 600px;
    background-image: url("background/logo.jpg");
    background-color: red;
}